{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
//    [
//      "transform-runtime",
//      {
//        "regenerator": true
//      }
//    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
