[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "*"
asgiref = "*"
certifi = "*"
cffi = "*"
chardet = "*"
contextlib2 = "*"
distlib = "*"
dj-database-url = "*"
Django = "*"
django-heroku = "*"
django-mysql = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
djangorestframework-simplejwt = "*"
filelock = "*"
gunicorn = "*"
idna = "*"
jsonfield = "*"
Pillow = "*"
pipenv = "*"
psycopg2 = "*"
pycparser = "*"
PyJWT = "*"
PyMySQL = "*"
PyNaCl = "*"
pytz = "*"
requests = "*"
schema = "*"
simplejson = "*"
six = "*"
sqlparse = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
whitenoise = "*"
cryptography = "*"
django-cleanup = "*"
pdfkit = "*"
yattag = "*"
django-axes= "*"

[requires]
python_version = "3.7"
